# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (optional depending on strategy)
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log

# Artifacts
artifacts/